/* General CSS */
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box; 
}

/* CSS for desktop */
@media screen and (min-width: 481px){
    #wrapper {
        display: grid;
        grid-template-columns: 25% 1fr;
        grid-template-rows: 1fr 15% 35% 20% 30%;
        grid-template-areas: 
        'hd nv'
        'sc1 sc1'
        'sc2 sc2'
        'sc3 sc3'
        'ft ft';
        
        height: 250vh;
    }
    
    header {
       grid-area: hd;
       display: flex;
       background-color: #FF5733; 
       position: sticky;
       top: 0;
       z-index: 20;  
       justify-content: center;
       
    }
    
    nav {
       grid-area: nv;
       display: flex;
       flex-direction: row;
       background-color: #FF5733; 
       position: sticky;
       top: 0;
       z-index: 20;  
       justify-content: center; 
    }
    
    .section1 {
        grid-area: sc1;
        display: flex;
        background-image: url('/img/page1.jpg');
        background-size: 90vh;
        background-position: center;
        background-repeat: repeat;
        flex-direction: column;
    }

    .section1-2{
        grid-area: sc1;
        display: flex;
        background-image: url('/img/page2.jpg');
        background-size: 80vh;
        background-position: center;
        background-repeat: repeat;
        flex-direction: column;  
    }

    .section1-3{
        grid-area: sc1-1;
        display: flex;
        background-image: url('/img/page3.jpg');
        background-size: 70vh;
        background-position: center;
        background-repeat: repeat;
        flex-direction: column;  
    }
    
    .section1-4{
        grid-area: sc1-1;
        display: flex;
        background-image: url('/img/page4.jpg');
        background-size: 70vh;
        background-position: center;
        background-repeat: repeat;
        flex-direction: column;  
    }

    .section2 {
        grid-area: sc2;
        background-color: #FF5733; 
        background: rgb(248,242,222);
        background: linear-gradient(360deg, rgba(248,242,222,1) 0%, rgba(255,87,51,1) 35%, rgb(246, 227, 199) 100%);
        color: #F8F2DE;
        text-shadow: 2px 2px 5px rgba(255, 0, 0, 0.5); 
    }

    .section2-2{
        grid-area: sc2;
        background-color: #FF5733; 
        background: rgb(248,242,222);
        background: linear-gradient(360deg, rgba(248,242,222,1) 0%, rgba(255,87,51,1) 35%, rgb(8, 26, 61) 100%);
        color: #F8F2DE;
        
    }

    .section2-3{
        grid-area: sc2-2;
        background-color: #FF5733; 
        background: rgb(248,242,222);
        background: linear-gradient(360deg, rgba(255,87,51,1) 0%, rgba(255,87,51,1) 35%, rgb(90, 170, 20) 100%);
        color: #F8F2DE;
    }

    .section2-4{
        grid-area: sc2-2;
        background-color: #FF5733; 
        background: rgb(248,242,222);
        background: linear-gradient(360deg, rgba(248,242,222,1) 0%, rgba(255,87,51,1) 35%, rgb(246, 227, 199) 100%);
        color: #F8F2DE;
        
    }
    
    .section2-4{
        grid-area: sc2-2;
        background-color: #FF5733; 
        background: rgb(248,242,222);
        background: linear-gradient(360deg, rgba(255,87,51,1) 0%, rgba(255,87,51,1) 35%, rgb(114, 160, 201) 100%);
        color: #F8F2DE;
   
    }


    .section3 {
        grid-area: sc3;
        display: flex;
        justify-content: center;
        background: rgb(248,242,222);
        background: linear-gradient(360deg, rgba(255,87,51,1) 0%, rgba(248,242,222,1) 35%, rgba(248,242,222,1) 100%);
        color: #FF5733;
    }
    
    footer {
        grid-area: ft;
        display: flex;
        background-color: #FF5733;
        align-items: center;
        justify-content: center;
        flex-flow: column;
    }
    
    #small-logo {
        display: grid;
        width: 10vh; 
        height: 10vh;
        border-radius: 50%; 
        margin-left: 1vh;
        margin-top: 1vh;
        float: left;
        background-color: #FF5733; 
    }
    
    .logo {
        display: none;
        width: 20vh; 
        height: 20vh;
        margin-top: 2vh;
        margin-left: 8.6vh;
        border-radius: 50%; 
        background-color: #FF5733;
        box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
    }

    .logo2 {
        display: grid;              
        width: 20vh; 
        height: 20vh;
        border-radius: 50%;           
        background-color: #FF5733;
        box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
        position: relative;
        margin: 10px;
       
    }

    
    .large-logo{  
        width: 50vh; 
        height: 50vh;
        margin-bottom: 1vh;
        background-image: url('/img/logo.png');
        background-size: cover;
    }
    
    .socialmedia-logo{
        width: 12vh;
        height: 12vh;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #E04C2A;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
        transition: all 0.6s cubic-bezier(0.25, 0.8, 0.25, 1); 
       
    }
    
    
    .socialmedia-logo:hover{
        transform: scale(1.05);
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
        background-color: rgba(245, 245, 220, 0.7); 
    }
    
    .socialmedia-container{
        display: flex;
        gap: 6vh;
        margin-top: 2vh;
        margin-left: 4vh;
        
    }
    
    .socialmedia-facebook-img{
        width: 6vh;
        height: 6vh;
        background-size: cover;
        background-position: center;
        background-image: url('/img/facebook.png');
    }
    
    .socialmedia-instagram-img{
        width: 6vh;
        height: 6vh;
        background-size: cover;
        background-position: center;
        background-image: url('/img/instagram.png');
    }
    
    .socialmedia-tiktok-img{
        width: 6vh;
        height: 6vh;
        background-size: cover;
        background-position: center;
        background-image: url('/img/tiktok.png');
    }
    
    .icon-img {  
        background-size: 15vh;
        margin-left: 2.5vh;
        margin-top: 1.5vh;
        background-image: url('/img/icon1.png');
        flex-direction: row;
        background-repeat: no-repeat;
    }

    .icon-img2 {  
        background-size: 15vh;
        margin-left: 2.5vh;
        margin-top: 1.5vh;
        background-image: url('/img/icon2.png');
        flex-direction: row;
        background-repeat: no-repeat;
    }

    .icon-img3 {  
        background-size: 15vh;
        margin-left: 2.5vh;
        margin-top: 1.5vh;
        background-image: url('/img/icon3.png');
        flex-direction: row;
        background-repeat: no-repeat;
    }

    

    .brand-name {
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: "Roboto", sans-serif;
        font-weight: 800;
        text-align: center;
        font-size: 8vh;
        transition: all 0.6s cubic-bezier(0.25, 0.8, 0.25, 1); 
        color: #F8F2DE;
        
    }
    
    .main-title {
        font-family: "Roboto", sans-serif;
        font-weight: 800;
        text-align: center;
        font-size: 8vh;
        margin-top: 12vh;
        color: #F4E7C3;
        text-shadow: 2px 2px 5px rgba(255, 0, 0, 0.5)
       
    }
    
    .section-title {
        display: flex;
        font-family: "Roboto", sans-serif;
        font-style: normal;
        font-weight: 800;
        font-size: 8vh;
        justify-content: center;
        margin-top: 8vh;
        
    }

    .section-title2 {
        display: flex;
        font-family: "Roboto", sans-serif;
        font-style: normal;
        font-weight: 800;
        font-size: 4vh;
        margin-left: 10vh;
        margin-top: 8vh;
        
    }

    #section-title2-2 {
        display: flex;
        font-family: "Roboto", sans-serif;
        font-style: normal;
        font-weight: 800;
        font-size: 8vh;
        margin-right: 40vh;
        
    }

    .section-activities{
        display: flex;
        font-family: "Roboto", sans-serif;
        font-style: normal;
        font-weight: 800;
        font-size: 6vh;
        margin-right: 30vh;
        margin: 2vh;
    }

    .section-name{
        display: flex;
        font-family: "Roboto", sans-serif;
        font-style: normal;
        font-weight: 800;
        font-size: 4vh;
        justify-content: center;
        margin-top: 2vh;
    }
    
    .section-text{
        margin-top: 3vh;
        margin-left: 2vh;        
        margin-right: 2vh;
        color: #E04C2A; 
        
    }

    .secondary-text {
        margin-top: 3vh;
        margin-left: 2vh;        
        margin-right: 2vh;
        color: #F8F2DE; 
        font-size: 3vh;
      
    }
    
    #poster1{
        background-image: url('/img/poster1.jpg');
        background-size: cover;
        height: 50vh;
        width: 40vh;
        margin-left: 2vh;
        margin-top: 2vh;
    }

    #poster2{
        background-image: url('/img/poster2.jpg');
        background-size: cover;
        height: 50vh;
        width: 40vh;
        margin-left: 14vh;
        margin-top: 8vh;
    }

    #poster3{
        background-image: url('/img/poster3.png');
        background-size: cover;
        height: 50vh;
        width: 40vh;
        margin-left: 14vh;
        margin-top: 2vh;
    }

    #poster4{
        background-image: url('/img/poster4.png');
        background-size: cover;
        height: 50vh;
        width: 40vh;
        margin-left: 14vh;
        margin-top: 8vh;
    }

    figure {
        display: flex;
        justify-content: center; 
        align-items: center; 
        flex-flow: column;
        padding: 5px;
        margin: auto; 
        width: 100%;
        text-align: center;
    }
    
    
    #featured-image {
        background-image: url('/img/photshop.png');
        background-size: cover;
        height: 35vh;
        width: 60vh;
        margin-top: 2vh;
        border-radius: 5%;
        border: 4px solid #E04C2A;
    }
    
    .footer-caption{
        font-family: "Roboto", sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 2vh;
        color: #F8F2DE;
    
    }

    .footer-contact{
        font-family: "Roboto", sans-serif;
        font-style: normal;
        font-weight: 800;
        font-size: 3vh;
        color: #F8F2DE;
    }

    .footer-copyright{
        display: flex;
        justify-content: center;
        margin-top: 8vh;
        font-family: "Roboto", sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 2vh;
        color: #F8F2DE;
    }

    .menu{
        display: flex;
        height: 100vh;
        width: 80vw;
        background: #F8F2DE;
        position: fixed;
        top: 0;
        left: -90vw;
        transition: left 0.3s;
        box-shadow: 10px 0px 21px -10px rgba(0,0,0,0.75);
        z-index: 10;
        
    }

    .menu-button {
        display: none;
        cursor: pointer;
        display: none; 
        color: #F8F2DE;
        transition: transform 0.3s; 
    }

    .menu-button i.material-icons {
        font-size: 5vh; 
        transition: transform 0.3s ease; 
    }

    .menu-button.x i.material-icons {
        transform: rotate(180deg); 
    }

    .show{
        left: 0;
    }

    .fade-layer{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.5);
        display: none;
        z-index: 5;
    }

    .fade-layer.visible{
        display: block;
    }

    .menu-item {
        display: flex;
        font-family: "Roboto", sans-serif;
        font-size: 3vh;
        color: #FF5733;
        margin-top: 4vh;
        margin-left: 2vh;
        margin-bottom: 10vh;
       
    }

    a{
        color: inherit;
        text-decoration: none;
        transition: text-shadow 0.3s ease; 
        
    }

    a:hover{
        text-decoration: underline;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); 
    }
    
    .carousel-container {
        display: none;
        position: relative;
        width: 80%; 
        max-width: 600px; 
        margin: auto;
        overflow: hidden; 
        z-index: 0; 
    }
    
    .carousel {
        display: flex;
        transition: transform 0.5s ease-in-out;
        z-index: 1; 
    }
    
    .carousel-image {
        min-width: 100%; 
        height: 300px; 
    }
    
    .carousel-image img {
        width: 100%;
        height: 100%;
        object-fit: cover; 
    }
    
    .arrow-button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        font-size: 30px;
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        border: none;
        padding: 10px;
        cursor: pointer;
        border-radius: 100%;
        z-index: 1;
    }
    
    .left-arrow {
        left: 10px; 
    }
    
    .right-arrow {
        right: 10px;
    }
    
    .arrow-button:hover {
        background-color: rgba(0, 0, 0, 0.8); 
    }

    #wrapper2 {
        display: grid;
        grid-template-columns: 25% 1fr;
        grid-template-rows: 1fr 15% 80% 40%;
        grid-template-areas: 
        'hd nv'
        'sc1-1 sc1-1'
        'sc2-2 sc2-2'
        'ft ft';
        
        height: 180vh;
    }

    #wrapper3 {
        display: grid;
        grid-template-columns: 25% 75%;
        grid-template-rows: 1fr 15% 75% 45%;
        grid-template-areas: 
        'hd nv'
        'sc1-1 sc1-1'
        'sc2-2 sc2-2'
        'ft ft';
        
        height: 200vh;
    }

    .profile-container {
        grid-area: sc1-1;
        display: flex;
        height: 100px;
        width: 100px;
        border-radius: 50%; 
        border: 2px solid #E04C2A; 
       
        
       
    }

    #profile1{
        background-image: url('/img/profile1.avif');
        background-size: cover; 
        background-position: center;
    }  

    #profile2{
        background-image: url('/img/profile2.jpg');
        background-size: cover; 
        background-position: center;
    }  

    #profile3{
        background-image: url('/img/profile3.jpg');
        background-size: cover; 
        background-position: center;
    }  

    

    .box{
        display: flex;
        background-color:#F8F2DE;
        height: 340px;
        width: 220px;
        border-radius: 10px;
        border-style: solid;
        border-width: 4px;
        border-color: #E04C2A;
        align-items: center;
        flex-direction: column;
        margin-left: 7vh;
        color: #E04C2A;
        justify-content: center;
    }


    .box:hover {
        transform: scale(0.95); 
        transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
    }
    
  

    .member-img {
        height: 35vh;
        width: 50vh;
        margin-top: 4vh;
        margin-right: 6vh;
        border-radius: 5%;
        object-fit: cover; 
    }

    .activities{
        height: 15vh;
        width: 20vh;
        margin-left: 10vh;
    }
   
    .navigation{
        display: flex;
        flex-direction: row;
        position: sticky;
        top: 0;
        z-index: 20;
        justify-content: center;
        padding: 20px;
        font-size: 4vh;
        font-family: "Roboto", sans-serif;
        font-weight: 800;
        text-align: center;
        transition: all 0.6s cubic-bezier(0.25, 0.8, 0.25, 1); 
        color: #F8F2DE;
    }

    .navigation:hover{
        text-decoration: underline;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); 
    }

    .poster-flex{
        display: flex;
    }

    .poster-flex2{
        display: flex;
        margin-left: 22vh;
    }

    .poster-flex3{
        display: flex;
        margin-left: 78vh;
    }

    .writing-flex{
        display: flex;
        gap: 100px;
        margin-left: 18vh;
    }
    

    .text-flex{
        display: flex;
        flex-direction: column;
    }

    .text-flex:hover{
        text-decoration: underline;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); 
    }

    .hide2{
        display: none;
    }
    
}



















/* CSS for phone */
@media screen and (max-width: 480px){
    #wrapper {
        display: grid;
        grid-template-columns: 75% 1fr;
        grid-template-rows: 1fr 15% 30% 20% 40%;
        grid-template-areas: 
        'hd nv'
        'sc1 sc1'
        'sc2 sc2'
        'sc3 sc3'
        'ft ft';
        
        height: 300vh;
    }
    
    header {
       grid-area: hd;
       display: flex;
       background-color: #FF5733; 
       position: sticky;
       top: 0;
       z-index: 20;  
       justify-content: center;
       
    }
    
    nav {
        grid-area: nv;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #FF5733; 
        position: sticky;
        top: 0;
        z-index: 20;  
    }
    
    .section1 {
        grid-area: sc1;
        display: flex;
        background-image: url('/img/page1.jpg');
        background-size: 90vh;
        background-position: center;
        background-repeat: no-repeat;
        flex-direction: column;
    }

    .section1-2{
        grid-area: sc1;
        display: flex;
        background-image: url('/img/page2.jpg');
        background-size: 80vh;
        background-position: center;
        background-repeat: no-repeat;
        flex-direction: column;  
    }

    .section1-3{
        grid-area: sc1-1;
        display: flex;
        background-image: url('/img/page3.jpg');
        background-size: 70vh;
        background-position: center;
        background-repeat: no-repeat;
        flex-direction: column;  
    }

    .section1-3{
        grid-area: sc1-1;
        display: flex;
        background-image: url('/img/page3.jpg');
        background-size: 70vh;
        background-position: center;
        background-repeat: no-repeat;
        flex-direction: column;  
    }
    
    .section1-4{
        grid-area: sc1-1;
        display: flex;
        background-image: url('/img/page4.jpg');
        background-size: 70vh;
        background-position: center;
        background-repeat: no-repeat;
        flex-direction: column;  
    }

    .section2 {
        grid-area: sc2;
        background-color: #FF5733; 
        background: rgb(248,242,222);
        background: linear-gradient(360deg, rgba(248,242,222,1) 0%, rgba(255,87,51,1) 35%, rgb(246, 227, 199) 100%);
        color: #F8F2DE;
        text-shadow: 2px 2px 5px rgba(255, 0, 0, 0.5); 
    }

    .section2-2{
        grid-area: sc2;
        background-color: #FF5733; 
        background: rgb(248,242,222);
        background: linear-gradient(360deg, rgba(248,242,222,1) 0%, rgba(255,87,51,1) 35%, rgb(8, 26, 61) 100%);
        color: #F8F2DE;
        
    }

    .section2-3{
        grid-area: sc2-2;
        background-color: #FF5733; 
        background: rgb(248,242,222);
        background: linear-gradient(360deg, rgba(255,87,51,1) 0%, rgba(255,87,51,1) 35%, rgb(90, 170, 20) 100%);
        color: #F8F2DE;
    }

    .section2-4{
        grid-area: sc2-2;
        background-color: #FF5733; 
        background: rgb(248,242,222);
        background: linear-gradient(360deg, rgba(248,242,222,1) 0%, rgba(255,87,51,1) 35%, rgb(246, 227, 199) 100%);
        color: #F8F2DE;
        
    }
    
    .section2-4{
        grid-area: sc2-2;
        background-color: #FF5733; 
        background: rgb(248,242,222);
        background: linear-gradient(360deg, rgba(255,87,51,1) 0%, rgba(255,87,51,1) 35%, rgb(114, 160, 201) 100%);
        color: #F8F2DE;
   
    }


    .section3 {
        grid-area: sc3;
        display: flex;
        justify-content: center;
        flex-flow: column;
        background: rgb(248,242,222);
        background: linear-gradient(360deg, rgba(255,87,51,1) 0%, rgba(248,242,222,1) 35%, rgba(248,242,222,1) 100%);
        color: #FF5733;
    }
    
    footer {
        grid-area: ft;
        display: flex;
        background-color: #FF5733;
        align-items: center;
        justify-content: center;
        flex-flow: column;
    }
    
    #small-logo {
        display: grid;
        width: 10vh; 
        height: 10vh;
        border-radius: 50%; 
        margin-left: 1vh;
        margin-top: 1vh;
        float: left;
        background-color: #FF5733; 
    }
    
    .logo {
        display: grid;
        width: 20vh; 
        height: 20vh;
        margin-top: 2vh;
        margin-left: 8.6vh;
        border-radius: 50%; 
        background-color: #FF5733;
        box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
    }

    .large-logo{  
        width: 30vh; 
        height: 30vh;
        margin-bottom: 1vh;
        background-image: url('/img/logo.png');
        background-size: cover;
    }
    
    .socialmedia-logo{
        width: 10vh;
        height: 10vh;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #E04C2A;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
        transition: all 0.6s cubic-bezier(0.25, 0.8, 0.25, 1); 
       
    }
    
    
    .socialmedia-logo:hover{
        transform: scale(1.05);
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
        background-color: rgba(245, 245, 220, 0.7); 
    }
    
    .socialmedia-container{
        display: flex;
        gap: 4vh;
        margin-top: 2vh;
        margin-left: 4vh;
        
    }
    
    .socialmedia-facebook-img{
        width: 5vh;
        height: 5vh;
        background-size: cover;
        background-position: center;
        background-image: url('/img/facebook.png');
    }
    
    .socialmedia-instagram-img{
        width: 5vh;
        height: 5vh;
        background-size: cover;
        background-position: center;
        background-image: url('/img/instagram.png');
    }
    
    .socialmedia-tiktok-img{
        width: 5vh;
        height: 5vh;
        background-size: cover;
        background-position: center;
        background-image: url('/img/tiktok.png');
    }
    
    .icon-img {  
        background-size: 15vh;
        margin-left: 2.5vh;
        margin-top: 1.5vh;
        background-image: url('/img/icon1.png');
        background-repeat: no-repeat;
    }

    .icon-img2 {  
        display: flex;
        justify-content: center;
        background-size: 15vh;
        margin-left: 3vh;
        margin-top: 2.2vh;
        background-image: url('/img/icon2.png');
        background-repeat: no-repeat;
    }

    .icon-img3 {  
        display: flex;
        justify-content: center;
        background-size: 15vh;
        margin-left: 2vh;
        margin-top: 2.2vh;
        background-image: url('/img/icon3.png');
        background-repeat: no-repeat;
    }

    .brand-name {
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: "Roboto", sans-serif;
        font-weight: 800;
        text-align: center;
        font-size: 5vh;
        transition: all 0.6s cubic-bezier(0.25, 0.8, 0.25, 1); 
        color: #F8F2DE;
        
    }
    
    .main-title {
        font-family: "Roboto", sans-serif;
        font-weight: 800;
        text-align: center;
        font-size: 5vh;
        margin-top: 8vh;
        color: #F4E7C3;
        text-shadow: 2px 2px 5px rgba(255, 0, 0, 0.5)
       
    }
    
    .section-title {
        display: flex;
        font-family: "Roboto", sans-serif;
        font-style: normal;
        font-weight: 800;
        font-size: 4vh;
        justify-content: center;
        margin-top: 8vh;
        
    }

    .section-title2 {
        display: flex;
        font-family: "Roboto", sans-serif;
        font-style: normal;
        font-weight: 800;
        font-size: 4vh;
        margin-left: 10vh;
        margin-top: 8vh;
        
    }

    .section-name{
        display: flex;
        font-family: "Roboto", sans-serif;
        font-style: normal;
        font-weight: 800;
        font-size: 4vh;
        justify-content: center;
        margin-top: 2vh;
    }
    
    .section-text{
        margin-top: 3vh;
        margin-left: 2vh;        
        margin-right: 2vh;
        color: #E04C2A; 
    }

    .secondary-text {
        margin-top: 3vh;
        margin-left: 2vh;        
        margin-right: 2vh;
        color: #F8F2DE; 
      
    }
    
    #poster1{
        background-image: url('/img/poster1.jpg');
        background-size: cover;
        height: 35vh;
        width: 30vh;
        margin-left: 2vh;
        margin-top: 2vh;
    }

    #poster2{
        background-image: url('/img/poster2.jpg');
        background-size: cover;
        height: 40vh;
        width: 30vh;
        margin-left: 14vh;
        margin-top: 2vh;
    }


    figure {
        display: flex;
        justify-content: center; 
        align-items: center; 
        flex-flow: column;
        padding: 5px;
        margin: auto; 
        width: 100%;
        text-align: center;
    }
    
    
    #featured-image {
        background-image: url('/img/photshop.png');
        background-size: cover;
        height: 25vh;
        width: 40vh;
        margin-top: 2vh;
        border-radius: 5%;
        border: 4px solid #E04C2A;
    }
    
    .footer-caption{
        font-family: "Roboto", sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 1.5vh;
        color: #F8F2DE;
    
    }

    .footer-contact{
        font-family: "Roboto", sans-serif;
        font-style: normal;
        font-weight: 800;
        font-size: 2vh;
        color: #F8F2DE;
    }

    .footer-copyright{
        display: flex;
        justify-content: center;
        margin-top: 8vh;
        font-family: "Roboto", sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 1.5vh;
        color: #F8F2DE;
    }

    .menu{
        display: flex;
        height: 100vh;
        width: 80vw;
        background: #F8F2DE;
        position: fixed;
        top: 0;
        left: -90vw;
        transition: left 0.3s;
        box-shadow: 10px 0px 21px -10px rgba(0,0,0,0.75);
        z-index: 10;
        
    }

    .menu-button {
        cursor: pointer;
        display: inline-block; 
        color: #F8F2DE;
        transition: transform 0.3s; 
    }

    .menu-button i.material-icons {
        font-size: 5vh; 
        transition: transform 0.3s ease; 
    }

    .menu-button.x i.material-icons {
        transform: rotate(180deg); 
    }

    .show{
        left: 0;
    }

    .fade-layer{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.5);
        display: none;
        z-index: 5;
    }

    .fade-layer.visible{
        display: block;
    }

    .menu-item {
        display: flex;
        font-family: "Roboto", sans-serif;
        font-size: 3vh;
        color: #FF5733;
        margin-top: 4vh;
        margin-left: 2vh;
        margin-bottom: 10vh;
       
    }

    a{
        color: inherit;
        text-decoration: none;
        transition: text-shadow 0.3s ease; 
        
    }

    a:hover{
        text-decoration: underline;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); 
    }
    
    .carousel-container {
        display: flex;
        position: relative;
        width: 80%; 
        max-width: 600px; 
        margin: auto;
        overflow: hidden; 
        z-index: 0; 
    }
    
    .carousel {
        display: flex;
        transition: transform 0.5s ease-in-out;
        z-index: 1; 
    }
    
    .carousel-image {
        min-width: 100%; 
        height: 300px; 
    }
    
    .carousel-image img {
        width: 100%;
        height: 100%;
        object-fit: cover; 
    }
    
    .arrow-button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        font-size: 30px;
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        border: none;
        padding: 10px;
        cursor: pointer;
        border-radius: 100%;
        z-index: 1;
    }
    
    .left-arrow {
        left: 10px; 
    }
    
    .right-arrow {
        right: 10px;
    }
    
    .arrow-button:hover {
        background-color: rgba(0, 0, 0, 0.8); 
    }

    #wrapper2 {
        display: grid;
        grid-template-columns: 75% 1fr;
        grid-template-rows: 1fr 15% 80% 53%;
        grid-template-areas: 
        'hd nv'
        'sc1-1 sc1-1'
        'sc2-2 sc2-2'
        'ft ft';
        
        height: 220vh;
    }

    #wrapper3 {
        display: grid;
        grid-template-columns: 75% 1fr;
        grid-template-rows: 1fr 15% 75% 50%;
        grid-template-areas: 
        'hd nv'
        'sc1-1 sc1-1'
        'sc2-2 sc2-2'
        'ft ft';
        
        height: 220vh;
    }

    .profile-container {
        grid-area: sc1-1;
        display: flex;
        height: 100px;
        width: 100px;
        border-radius: 50%; 
        border: 2px solid #E04C2A; 
       
        
       
    }

    #profile1{
        background-image: url('/img/profile1.avif');
        background-size: cover; 
        background-position: center;
    }  

    #profile2{
        background-image: url('/img/profile2.jpg');
        background-size: cover; 
        background-position: center;
    }  

    #profile3{
        background-image: url('/img/profile3.jpg');
        background-size: cover; 
        background-position: center;
    }  

    .box{
        display: flex;
        background-color:#F8F2DE;
        height: 360px;
        width: 300px;
        border-radius: 10px;
        border-style: solid;
        border-width: 4px;
        border-color: #E04C2A;
        align-items: center;
        flex-direction: column;
        margin-left: 7vh;
        color: #E04C2A;
        justify-content: center;
    }


    .box:hover {
        transform: scale(0.95); 
        transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
    }
    
    #member1{
        background-image: url('/img/member1.jpg');
        background-size: cover;
        height: 25vh;
        width: 40vh;
        margin-top: 4vh;
        border-radius: 5%;
        margin-left: 3vh;
    }

    #member2{
        background-image: url('/img/member2.avif');
        background-size: cover;
        height: 25vh;
        width: 40vh;
        margin-top: 4vh;
        border-radius: 5%;
        margin-left: 3vh;
    }

    #member3{
        background-image: url('/img/member3.jpg');
        background-size: cover;
        height: 25vh;
        width: 40vh;
        margin-top: 4vh;
        border-radius: 5%;
        margin-left: 3vh;
    }

    #member4{
        background-image: url('/img/member4.jpg');
        background-size: cover;
        height: 25vh;
        width: 40vh;
        margin-top: 4vh;
        border-radius: 5%;
        margin-left: 3vh;
        
    }

  
   
    .navigation{
        display: none;
        flex-direction: row;
        position: sticky;
        top: 0;
        z-index: 20;
        justify-content: center;
        padding: 20px;
        font-size: 4vh;
        font-family: "Roboto", sans-serif;
        font-weight: 800;
        text-align: center;
        transition: all 0.6s cubic-bezier(0.25, 0.8, 0.25, 1); 
        color: #F8F2DE;
    }

    .navigation:hover{
        display: none;
        text-decoration: underline;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); 
    }

    .logo2 {
        display: none;
        width: 20vh; 
        height: 20vh;
        margin-top: 2vh;
        margin-left: 8.6vh;
        border-radius: 50%; 
        background-color: #FF5733;
        box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
    }

    #section-title2-2 {
        display: none;
        
    }

    .hide{
        display: none;
    }

    .member-img {
        height: 25vh;
        width: 35vh;
        margin-top: 4vh;
        margin-left: 5vh;
        border-radius: 5%;
        object-fit: cover; 
    }
}

